<div class="menu hidden">
  <div class="inputMenu">
    <button class="projects">Projects</button>
    <button class="add" (click)="showAddMenu()">+</button>
    <button class="tasks">Tasks</button>
  </div>
  <div class="addMenu">
    <div class="menuSelection newNote">
      <h2>New Note</h2>
      <input [(ngModel)]="mainTitle" placeholder="Title" #noteTitle class="noteTitleInput input">
      <textarea [(ngModel)]="mainTextArea" placeholder="Body" #noteBody class="noteBodyInput input"></textarea>
      <select [(ngModel)]="selectedProject" class="noteProjectInput input">
        <option *ngFor="let project of projectArray;let i = index;" selected="i==0" [value]="project.id">{{project.doc.name}}</option>
      </select>
      <button (click)="addText(noteTitle.value, noteBody.value)" class="newButton">New Note</button>
    </div>
    <div class="menuSelection newProject">
      <h2>New Project</h2>
      <input [(ngModel)]="projectName" #pName placeholder="Project Name" class="projectName input">
      <button (click)="addProject(pName.value)" class="newButton">New Project</button>
    </div>
  </div>
</div>
