<div [id]="note.doc._id + 'edit'" class="hidden">
  <input [(ngModel)]="note.doc.title" #updatedTitle>
  <input [(ngModel)]="note.doc.body" #updatedBody>
  <button (click)="updateNote(note.doc._id, updatedTitle.value, updatedBody.value)">UpdateNote</button>
  <button (click)="toggleEdit(note.doc._id)">Close</button>
</div>

<div [id]="note.doc._id + 'show'" class="">
  <h2>{{note.doc.title}}</h2>
  <p>{{note.doc.body}}</p>
</div>
<button (click)="removeByID(note.doc._id)">Delete By ID</button>
<button [id]="note.doc._id + 'updateButton'" (click)="toggleEdit(note.doc._id)">Update</button>
<div *ngFor="let comment of note.doc.comments">
  {{comment.comment}}
</div>
<input #noteComment>
<button (click)="addComment(noteComment.value, note.doc._id)">Add Comment</button>
