<div class="textArea">
  <app-menu [projectArray]="projectArray"></app-menu>

  <!--<h2>Find and Delete Notes (Testing Purposes)</h2>-->
  <!--<input [(ngModel)]="noteID" #getNoteID>-->
  <!--<button (click)="getByID(getNoteID.value)">Get By ID</button>-->
  <!--<button (click)="removeByID(getNoteID.value)">Delete By ID</button>-->
  <!--<br>-->


  <!--<h2>Update Note (Testing Purposes)</h2>-->
  <!--<input [(ngModel)]="returnedTitle">-->
  <!--<input [(ngModel)]="returnedBody">-->
  <!--<button (click)="updateNote()">UpdateNote (PouchDB)</button>-->
  <!--<br>-->

  <h2>Note List</h2>
  <div class="taskList">
    <app-task *ngFor="let note of noteArray" [note]="note"></app-task>
  </div>
</div>
